// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/G2L SMARC EVK board
 *
 * Copyright (C) 2021 Renesas Electronics Corp.
 */

/dts-v1/;
#include "rzv2l-vision-ai.dts"

/ {
	clk_ext_camera: clk_ext_camera {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <37125000>;
	};

	avdd_cam_supply: 3p3v {
		compatible = "regulator-fixed";
		regulator-name = "avdd_cam_supply";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&pinctrl RZG2L_GPIO(42, 3) 0>;
		startup-delay-us = <500000>;
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";

	imx296: imx296@1a {
		compatible = "sony,imx296";
		reg = <0x1a>;
		clock-names = "inck";
		clocks = <&clk_ext_camera>;
		clock-frequency = <37125000>;
		avdd-supply = <&avdd_cam_supply>;

		port {
			cam1_to_csi: endpoint {
				clock-lanes = <0>;
				data-lanes = <1>;
				remote-endpoint = <&csi2_in>;
			};
		};
	};

};

&cru {
	status = "okay";
};

&csi2 {
	status = "okay";

	ports {
		port {
			csi2_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1>;
				remote-endpoint = <&cam1_to_csi>;
			};
		};
	};
};
