// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/V2L Vision AI board
 *
 * Copyright (C) 2024 MXT Creation SRL
 */

/dts-v1/;
#include "r9a07g054l2.dtsi"
#include "rzg2l-smarc-som.dtsi"
#include "rzg2l-smarc-pinfunction.dtsi"
#include "rz-smarc-common.dtsi"
#include "rzg2l-smarc.dtsi"

/ {
	model = "MXT RZV2L based on r9a07g054l2";
	compatible = "renesas,smarc-evk", "renesas,r9a07g054l2", "renesas,r9a07g054";

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* device specific region for contiguous allocations */
		drp_reserved: DRP-AI {
			reusable;
			reg = <0x0 0x80000000 0x0 0x20000000>;
		};

		image_buf0: image_buf@0 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x0 0xB0000000 0x0 0x04000000>;
			label = "image_buf0";
		};

		isp_work0: SIMPLE_ISP {
			reusable;
			reg = <0x0 0xB4000000 0x0 0x03000000>;
		};
	};

	udmabuf@0 {
		compatible = "ikwzm,u-dma-buf";
		device-name = "udmabuf0";
		minor-number = <0>;
		size = <0x4000000>; // 64MiB
		dma-coherent;
		memory-region = <&image_buf0>;
	};

	/delete-node/ sound;
	/delete-node/ sound_card;
	/delete-node/ hdmi-out;
};

#if DRPAI_NOT_READY_YET

&drpai0 {
	memory-region = <&drp_reserved>;
	linux-memory-region = < &{/memory@48000000} >;
	status = "okay";
};

#endif

&adc {
	status = "disabled";
};

&canfd {
	status = "disabled";
};

&i2c0 {
	status = "disabled";
	/delete-node/ camera@3c;
};

&i2c1 {
	status = "disabled";

	adv7535: hdmi@3d {
		status = "disabled";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				/delete-node/ endpoint;
			};
			port@1 {
				/delete-node/ endpoint;
			};
			port@2 {
				/delete-node/ endpoint;
			};
		};
	};
};

&i2c3 {
	status = "disabled";
	/delete-node/ codec@1a;
};

&vccq_sdhi1 {
	compatible = "regulator-gpio";
	regulator-name = "SDHI1 VccQ";
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <3300000>;
	gpios = <&pinctrl RZG2L_GPIO(43, 3) GPIO_ACTIVE_HIGH>;
	gpios-states = <1>;
	states = <3300000 1>, <1800000 0>;
};

&eth0 {
	status = "disabled";
};

&eth1 {
	status = "disabled";
};

&spi0 {
	pinctrl-0 = <&spi0_pins>;
	pinctrl-names = "default";
	dmas = <&dmac 0x2e95>, <&dmac 0x2e96>;
	dma-names = "tx", "rx";

	status = "okay";

	da16xxx@0 {
		compatible = "renesas,da16xxx";
		reg = <0>;
		spi-max-frequency = <25000000>;
		reset-gpios = <&pinctrl RZG2L_GPIO(40, 0) GPIO_ACTIVE_LOW>;
		irq0-gpios = <&pinctrl RZG2L_GPIO(2, 0) GPIO_ACTIVE_LOW>;
		irq1-gpios = <&pinctrl RZG2L_GPIO(2, 1) GPIO_ACTIVE_LOW>;
	};
};

&spi1 {
	status = "disabled";
};

&ssi1 {
	status = "disabled";
};

&dsi {
	status = "disabled";

	ports {
		port@0 {
			/delete-node/ endpoint;
		};

		port@1 {
			/delete-node/ endpoint;
		};
	};
};

&pinctrl {
	pinctrl-0 = <&sound_clk_pins>;
	pinctrl-names = "default";

	/delete-node/ can1-stb-hog;
	/delete-node/ gpio-sd0-pwr-en-hog;
	/delete-node/ sd0-dev-sel-hog;
	/delete-node/ sd1-pwr-en-hog;

	i2c0_pins: i2c0 {
		pins = "RIIC0_SDA", "RIIC0_SCL";
		input-enable;
	};

	i2c1_pins: i2c1 {
		pins = "RIIC1_SDA", "RIIC1_SCL";
		input-enable;
	};

	i2c3_pins: i2c3 {
		pinmux = <RZG2L_PORT_PINMUX(18, 0, 3)>, /* SDA */
			 <RZG2L_PORT_PINMUX(18, 1, 3)>; /* SCL */
	};

	scif0_pins: scif0 {
		pinmux = <RZG2L_PORT_PINMUX(38, 0, 1)>,	/* TxD */
			 <RZG2L_PORT_PINMUX(38, 1, 1)>;	/* RxD */
	};

	scif2_pins: scif2 {
		pinmux = <RZG2L_PORT_PINMUX(48, 0, 1)>, /* TxD */
			 <RZG2L_PORT_PINMUX(48, 1, 1)>, /* RxD */
			 <RZG2L_PORT_PINMUX(48, 3, 1)>, /* CTS# */
			 <RZG2L_PORT_PINMUX(48, 4, 1)>; /* RTS# */
	};

	sdhi1_pins: sd1 {
		sd1_data {
			pins = "SD1_DATA0", "SD1_DATA1", "SD1_DATA2", "SD1_DATA3";
			power-source = <3300>;
		};

		sd1_ctrl {
			pins = "SD1_CLK", "SD1_CMD";
			power-source = <3300>;
		};
	};

	sdhi1_pins_uhs: sd1_uhs {
		sd1_data_uhs {
			pins = "SD1_DATA0", "SD1_DATA1", "SD1_DATA2", "SD1_DATA3";
			power-source = <1800>;
		};

		sd1_ctrl_uhs {
			pins = "SD1_CLK", "SD1_CMD";
			power-source = <1800>;
		};
	};

	sound_clk_pins: sound_clk {
		pins = "AUDIO_CLK1", "AUDIO_CLK2";
		input-enable;
	};

	spi0_pins: spi0 {
		pinmux = <RZG2L_PORT_PINMUX(47, 0, 5)>, /* CK */
			 <RZG2L_PORT_PINMUX(47, 1, 5)>, /* MOSI */
			 <RZG2L_PORT_PINMUX(47, 2, 5)>, /* MISO */
			 <RZG2L_PORT_PINMUX(47, 3, 5)>; /* SSL */
	};

	spi1_pins: spi1 {
		pinmux = <RZG2L_PORT_PINMUX(44, 0, 1)>, /* CK */
			 <RZG2L_PORT_PINMUX(44, 1, 1)>, /* MOSI */
			 <RZG2L_PORT_PINMUX(44, 2, 1)>, /* MISO */
			 <RZG2L_PORT_PINMUX(44, 3, 1)>; /* SSL */
	};

	ssi0_pins: ssi0 {
		pinmux = <RZG2L_PORT_PINMUX(45, 0, 1)>, /* BCK */
			 <RZG2L_PORT_PINMUX(45, 1, 1)>, /* RCK */
			 <RZG2L_PORT_PINMUX(45, 2, 1)>, /* TXD */
			 <RZG2L_PORT_PINMUX(45, 3, 1)>; /* RXD */
	};

	ssi1_pins: ssi1 {
		pinmux = <RZG2L_PORT_PINMUX(46, 0, 1)>, /* BCK */
			 <RZG2L_PORT_PINMUX(46, 1, 1)>, /* RCK */
			 <RZG2L_PORT_PINMUX(46, 2, 1)>, /* TXD */
			 <RZG2L_PORT_PINMUX(46, 3, 1)>; /* RXD */
	};

	usb0_pins: usb0 {
		pinmux = <RZG2L_PORT_PINMUX(4, 0, 1)>, /* VBUS */
			 <RZG2L_PORT_PINMUX(5, 0, 1)>, /* OVC */
			 <RZG2L_PORT_PINMUX(5, 1, 1)>; /* OTG_ID */
	};

	usb1_pins: usb1 {
		pinmux = <RZG2L_PORT_PINMUX(42, 0, 1)>, /* VBUS */
			 <RZG2L_PORT_PINMUX(42, 1, 1)>; /* OVC */
	};

	wifi-rtc-pwr{
		gpio-hog;
		gpios = <RZG2L_GPIO(40, 0) GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "wifi-rtc-pwr";
	};
};
